*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
.App {
  min-height: 100vh;
 
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: 'Roboto', sans-serif;
  
 
}
/* cartagenreal */
#quote-box{
  height: 50vh;
  width: 50%;
  border-radius: 1rem;  
  background: rgb(226, 225, 225);
  padding: 2.5rem;
  display: grid;
  grid-template-rows: 1fr auto ;
}
/* button */
#new-quote{
  background: brown;
  
}

.header{
  display: flex;
  flex-direction: column;
  
  
}
#author{
  flex: 1;
  text-align: right;
  font-weight: bold;
  font-style: italic;
}
#text{
  flex: 3;
  text-align: center;
 } 

  .footerIcon{
    display: flex;
    justify-content:space-between;
    align-items: center;

  }
  .footer{
    display: flex;
    justify-content:space-between;
  }
  .footerIcon :first-child{
    margin-right: 0.5rem;
  }


@media (max-width: 991.98px) { 
    #quote-box{
      height: 100vh;
      width: 100%;
    }
    #mensaje{
      font-size: 5px;
    }
    
 }


@media (min-width: 992px) { 
  
 }


